<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>American British Translator</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>American British Translator</h1>
    <hr>
    <div>
        <code>
            POST [..]/api/translate
        </code>
    </div>
    <hr>
    <div>
        <form action="/" method="POST" id="form">
            <input type="radio" name="locale" value="american-to-british" checked> american-to-british
            <input type="radio" name="locale" value="british-to-american"> british-to-american
            <br> <br>
            <textarea name="text" cols="50" rows="5"></textarea>
            <br> <br>
            <input type="submit" value="Translate">
        </form>
    </div>
    <div id="output">

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous">
        </script>
    <script src="client.js"></script>
</body>

</html>